{% extends "base.html" %}






{% block breadcrumb %}

<ol class="breadcrumb">
                                        <li>
                                            <i class="fa fa-home"></i>
                                            <a href="{% url 'list_place' %}">Home</a>
                                        </li>

                                        <li>
                                            <i class="fa fa-list"></i>
                                            <a href="{% url 'list_place' %}">List Places</a>
                                        </li>

                                        <li class="active">
                                            <i class="fa fa-table"></i>
                                            <a href="{% url 'detail_place' object.pk %}"> {{ object.name }}</a>
                                        </li>

                                        <li class="active">
                                            <i class="fa fa-tags"></i> Code Scan
                                        </li>
                                    </ol>

{% endblock %}


{% block title %}
    {{ object.name }}
{% endblock %}
{% block head %}{{ object.name }}{% endblock %}
{% block head_subtitle %}Scan code to Check-in{% endblock %}

{% block content %}




<div class="row">
        <div class="col-lg-6">




            <div class="panel panel-default">

                            <div class="panel-heading">Check-ins QR Code</div>
                            <div class="panel-body" style="text-align: center;">
                                <div class="results">


                                    <p><img src="http://chart.apis.google.com/chart?cht=qr&amp;chs=400x400&amp;chl=%7B%22place_id%22%3A%20%22{{object.id}}%22%7D&amp;chld=H|0" alt="QR Code"></p>
                                    <span class="btn btn-xs btn-primary" onclick="sendData(); return false;">Edit</span>
                                </div>



                            </div>





            </div>

        </div>

        <div class="col-lg-6">




            <div class="panel panel-default">

                <div class="panel-heading">Today Check-ins</div>
                <div class="panel-body" style="text-align: center;">

                    <ul id="checkins" class="list-group">
                      <!-- Conatct Object li.list-group-item.contact will be added here by js -->
                    </ul>

                </div>





            </div>

        </div>

</div>





<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCOo5pdonGa7fx2rCwALD4h7Tnf3k8rnXc",
    authDomain: "placesweb-158223.firebaseapp.com",
    databaseURL: "https://placesweb-158223.firebaseio.com",
    projectId: "placesweb-158223",
    storageBucket: "placesweb-158223.appspot.com",
    messagingSenderId: "928811050103"
  };
  firebase.initializeApp(config);
</script>
<script>
function sendData() {
         // Get a reference to the database service
        firebase.database().ref('checkins/').push({
            place_id: "1",
            facebook_id: "123"
          });
    }

//var dbRef = new Firebase("https://contactb.firebaseio.com/");
var contactsRef = firebase.database().ref('checkins/');

//load older conatcts as well as any newly added one...
contactsRef.on("child_added", function(snap) {
  //console.log("added", snap.key(), snap.val());
  $('#checkins').prepend(checkinHtmlFromObject(snap.val()));
});

//prepare conatct object's HTML
function checkinHtmlFromObject(checkin){
  console.log( checkin );
  var html = '';
  html += '<li class="list-group-item clearfix">';
    html += '<span class="pull-left">';
      html += "<img src='http://graph.facebook.com/"+ checkin.facebook_id +"/picture?type=small' class='img-circle' alt='Facebook Profile Picture' >";
      html +=  ' ' + checkin.full_name;
    html += '</span>';
  html += '</li>';
  return html;
}

</script>

{% endblock %}