{% extends "base.html" %}






{% block head %}{{ object.name }}{% endblock %}
{% block head_subtitle %}{{ object.description }}{% endblock %}
{% block breadcrumb %}List Place{% endblock %}


{% block content %}






        <div class="col-lg-12">

            <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Place Detail</h3>
                            </div>
                            <div class="panel-body">

                                <p class="card-text"><b>Name: </b>{{ object.name }}</p>
                                <p class="card-text"><b>Description: </b>{{ object.description }}</p>
                                <p class="card-text"><b>Address: </b>{{ object.address }}</p>
                                  <p class="card-text"><b>Phone number: </b>{{ object.phone_number }}</p>
                                  <p class="card-text"><b>Email: </b>{{ object.email }}</p>

                                <div class="text-right">
                                  <a href="#" class="btn btn-primary">Edit</a>
                                  <a href="#" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>

            <br/>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Offers</h3>
                </div>
                <div class="panel-body">

                    <ul class="list-group">
                    {% for o in place.offer_set.all %}
                            <li class="list-group-item">
                                 {{ forloop.counter }}. &emsp; <a href="#">{{ o.name }}</a>
                            </li>

                    {% endfor %}
                    </ul>

                    <div class="text-right">
                        <a href="#" class="btn btn-primary">Edit</a>
                    </div>

                </div>

            </div>











        </div>










{% endblock %}